# WM.QALog

**Database:** WebOrderProcessing  
**Server:** bearcluster01  

## Columns

| Column | Type | Max Length | Nullable | PK | FK | Description |
|---|---|---|---|---|---|---|
| RowIndex | numeric | 9 | 0 | YES |  |  |
| OrderNumber | varchar | 50 | 0 | YES |  |  |
| LogDateTime | datetime | 8 | 1 |  |  |  |
| StationID | varchar | 50 | 1 |  |  |  |
| UserID | varchar | 50 | 1 |  |  |  |

