# dbo.wss_weekly_verification

**Database:** auditworks  
**Server:** bedrockdb01  

## Columns

| Column | Type | Max Length | Nullable | PK | FK | Description |
|---|---|---|---|---|---|---|
| division | varchar | 10 | 0 |  |  |  |
| data_type | varchar | 40 | 0 |  |  |  |
| status | varchar | 10 | 0 |  |  |  |
| file_path | varchar | 100 | 0 |  |  |  |
