# esell.data_validation_log

**Database:** esell  
**Server:** bedrockdb02  

## Columns

| Column | Type | Max Length | Nullable | PK | FK | Description |
|---|---|---|---|---|---|---|
| TableName | nvarchar | 200 | 0 |  |  |  |
| ColumnName | nvarchar | 200 | 0 |  |  |  |
| PrimaryKeys | nvarchar | 4000 | 0 |  |  |  |

