# dbo.keith_distro_verification

**Database:** me_01  
**Server:** bedrockdb02  

## Columns

| Column | Type | Max Length | Nullable | PK | FK | Description |
|---|---|---|---|---|---|---|
| Interface Description | varchar | 100 | 0 |  |  |  |
| Status | varchar | 10 | 0 |  |  |  |

