# dbo.wss_weekly_verification

**Database:** me_01  
**Server:** bedrockdb02  

## Columns

| Column | Type | Max Length | Nullable | PK | FK | Description |
|---|---|---|---|---|---|---|
| division | varchar | 50 | 0 |  |  |  |
| data_type | varchar | 50 | 0 |  |  |  |
| status | varchar | 50 | 0 |  |  |  |
| file_path | varchar | 200 | 0 |  |  |  |

