# WM.QALog

**Database:** IntegrationStaging  
**Server:** STL-SSIS-P-01  

## Columns

| Column | Type | Max Length | Nullable | PK | FK | Description |
|---|---|---|---|---|---|---|
| RowIndex | numeric | 9 | 0 |  |  |  |
| OrderNumber | varchar | 50 | 0 |  |  |  |
| LogDateTime | datetime | 8 | 1 |  |  |  |
| StationID | varchar | 50 | 1 |  |  |  |
| UserID | varchar | 50 | 1 |  |  |  |

